<nav
class="navbar navbar-expand-xl navbar-light fixed-top" style="background-color: #008000; height: 45px">
  <div class="align-middle position-absolute top-50 start-50 translate-middle" style="">
    <i class="fa-solid fa-cart-shopping" style="color: #ffffff;">
    </i>
  </div>
</nav>